
html{
  background-color: #85A389;
}


.main{
  display: grid;
  grid-template-columns:repeat(10 , 1fr) ;
  grid-template-rows: repeat(14, 150px);
}

video{
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 0%;
  z-index: -1;
  
}
.first{

  margin-left: 0%;
  font-family: 'Teko', sans-serif;
  color: #d47c08;
  font-size: 60px;
  

  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end: 6;
 
}

.first p{
  mix-blend-mode: multiply;
}
p{
  margin: 0%;
}


.second{

  font-size: 30px ;
  font-family: 'Chakra Petch', sans-serif;
  color: #FFD89C;
  list-style: none;
  margin: 0%;
  
  grid-row-start: 4;
  grid-row-end:6;
  grid-column-start:1;
  grid-column-end: -1;

}

.second img{
  float: right;
  height: 70%;
  width: 30%;

  object-fit: cover;
  border-radius: 10px;

}
/*PRICE PANEL*/
.third{
  
  grid-area: 8 / 2/ 12/ -2;
  display: grid;
  grid-template-rows:10% 70% 12%; 
  grid-template-columns:350px 350px 350px ;
  gap: 2px;

  
}
.box{
  background-color:#FFD89C; 
  font-size: 25px;
  font-family: 'Sono', sans-serif;
  color: #85A389;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
.one{
  border-top-left-radius: 10px;
}
.three{
  border-top-right-radius: 10px;
}
.seven{
  border-bottom-left-radius: 10px;
}
.nine{
  border-bottom-right-radius: 10px;
}

.buy button{
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  border-radius: 15px;
  border-color: #85A389;
  height:40%;
  width: 50%;
  color:#FFD89C ;
  background-color: #85A389;
  margin: 0%;
}

.feature{
  font-size: 30px;
 
  align-items:center;
  
}

#prik{
  grid-area: 6/2/7/-1;
  color:#FFD89C ;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 100px;

}

#credits{
  grid-area: 14/1/15/-1;
  background-color: #FFD89C;
  color:#85A389 ;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 100px;
  margin: 0%;

}



